<!DOCTYPE html>
<html lang="en">
   <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHARMACY INVENTORY SYSTEM</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">

    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/LogoOnly.png" />
  </head>
  <body>

    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html" style="justify-content: center;">
            <img src="assets/LogoWithName.png" alt="logo" style="width: auto; height: auto;">
        </a>
        
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/LogoOnly.png" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">OVERVIEW</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-1" aria-expanded="false" aria-controls="ui-basic-1">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">INVENTORY</span>
              <i class="menu-arrow"></i>
            </a>

            <!-- DASHBOARDS STARTS HERE -->
            <div class="collapse" id="ui-basic-1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Inventory1.html')">TOTAL STOCK VALUE</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Inventory2.html')">LOW STOCK MEDICINES</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Inventory3.html')">HIGH STOCK MEDICINES</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-2" aria-expanded="false" aria-controls="ui-basic-2">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">SALES & REVENUE</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Sales1.html')">TOTAL REVENUE</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Sales2.html')">MONTHLY REVENUE</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Sales3.html')">MEDICINES SOLD</a></li>
              </ul>
            </div>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-3" aria-expanded="false" aria-controls="ui-basic-3">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">SUPPLIER REPORT</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-3">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Supplier1.html')">TOTAL ORDERS</a></li>
                <li class="nav-item"> <a class="nav-link" href="#"onclick="loadPage('MyPages/Supplier2.html')">PERFORMANCE</a></li>
                <li class="nav-item"> <a class="nav-link" href="#" onclick="loadPage('MyPages/Supplier3.html')">STOCK REPLENISHMENT</a></li>
              </ul>
            </div>
          </li>
          
              <li class="nav-item menu-items">
            
              
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper" style="background-color: rgb(32, 33, 35);">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
              </li>
            </ul>
            
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        
      <!-- MAIN -->
<main>
  <div class="main-panel">
      <div class="content-wrapper">
          <iframe id="content-frame" src="MyPages/SystemOverview.html"></iframe>
      </div>
  </div>
</main>

<style>
  /* Ensure the main panel takes up the full screen */
  .main-panel {
    margin-top: 500;
    padding: 0;
      background-color: #ffffff;
      width: 100vw;  
      height: 100vh; 
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .content-wrapper {
    margin-top: 100;
    padding: 0;
      background-color: #ffffff;
      width: 90vw;  
      height: 90vh; 
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Responsive iframe */
  iframe {
      margin: 0;
      padding: 0;
      width: 100%; 
      height: 100%; 
      border: none;
      display: block;
  }
</style>

        
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>


    <style>
 
  /* Change the sidebar background */
  .sidebar {
    background-color: #181b21; 
  }

  /* Set the default color (unhovered) for sidebar links */
  .sidebar .nav-item .nav-link {
    color:black; 
    text-decoration: none; 
  }

  /* Change color when hovered */
  .sidebar .nav-item .nav-link:hover {
    color: lightgray; 
  }

  .navbar {
    height: 100px; 
    min-height: 80px; 
}

.navbar-brand-wrapper {
    height: 100px; 
}

.navbar-menu-wrapper {
    height: 80px;
    align-items: center; 
}

</style>
<script>
  function loadPage(pageUrl) {
    document.getElementById('content-frame').src = pageUrl;
  }

</script>

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>